## mako 

<%page expression_filter="h"/>
<%inherit file="../base.html" />
<%block name="title">Inscripción</%block>
<%block name="content">
<main id="main" aria-label="Content" tabindex="-1" class="static_pages" style="background-color: #fff;padding: 30px;">
    <style>

        #main html, #main body {
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 1rem;
            font-style: normal;
            line-height: 1em;
        }
        #main h1{
            color: #313131;
            font: normal 2em/1.4em "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin: 0;
            margin-bottom: 30px;
            text-align: center;
        }
        .form-group label {    
            color: #313131;
            font: italic 300 1rem/1.6rem "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin-bottom: 5px;
            text-shadow: 0 1px rgba(255,255,255,0.4);
            -webkit-font-smoothing: antialiased;
            font-size: 100%;
            width: 100px;
            display: inline-block;
        }
        .form-group input[type="text"] {
            background: #fff;
            border: 1px solid #c8c8c8;
            border-radius: 3px;
            box-shadow: 0 1px 0 0 rgba(255,255,255,0.6), inset 0 0 3px 0 rgba(0,0,0,0.1);
            box-sizing: border-box;
            font: italic 300 1rem/1.6rem"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            height: 35px;
            padding: 5px 12px;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            font-size: 100%;
        }
        form input[type="submit"], form input[type="button"]{
            border-radius: 3px;
            border: 1px solid #000663;
            border-bottom: 1px solid #00003a;
            border-radius: 5px;
            box-shadow: inset 0 1px 0 0 #2592c0;
            color: #fff;
            display: inline-block;
            font-size: inherit;
            font-weight: bold;
            background-color: #0075b4;
            background-image: -webkit-linear-gradient(top, #0075b4 0%,#004393 50%,#002a84 50%,#002f86 100%);
            background-image: linear-gradient(to bottom,#0075b4 0%,#004393 50%,#002a84 50%,#002f86 100%);
            padding: 7px 18px;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 -1px 1px #000042;
            font: normal 1.2rem/1.6rem "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            letter-spacing: 1px;
            -webkit-font-smoothing: antialiased;
            font-size: 100%;
        }
    </style>
    <h1>Inscripción de Alumnos</h1>
    <div style="width: 520px;margin-left: auto;margin-right: auto;">
        % if context.get('errors', UNDEFINED) is not UNDEFINED:
            % if context['errors'].get('error_permission', UNDEFINED) is not UNDEFINED:
                <p id="error_permission" style="color:firebrick; margin-bottom: 15px;text-align: center;">Usuario no tiene permisos suficientes.</p>
            % endif
            % if context['errors'].get('error_mode', UNDEFINED) is not UNDEFINED:
                <p id="error_mode" style="color:firebrick; margin-bottom: 15px;text-align: center;">El modo esta incorrecto.</p>
            % endif
            % if context['errors'].get('not_file', UNDEFINED) is not UNDEFINED:
                <p id="not_file" style="color:firebrick; margin-bottom: 15px;text-align: center;">Falta agregar CSV.</p>
            % endif
        % endif
        % if context.get('HAVE_NA_MODEL', False) is False:
            <p id="HAVE_NA_MODEL" style="color:firebrick; margin-bottom: 15px;text-align: center;">Falta modelo, contactese con la mesa de ayuda de la plataforma.</p>
        % endif
        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
            <div class="form-group" style="margin: 15px 15px;">
                <label for="file" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">CSV:</label>
                <input class="input setting-input" name="file" id="file" type="file" accept=".csv" />
                <span style="display: block;text-align: center;"><a href="/norteamericano_api/enroll-export/" style="display: inline-block;margin-right: 78px;font-size: 80%;">
                    Descargar planilla de ejemplo
                </a></span>
            </div>
            <div class="form-group" style="margin: 15px 15px;">
                <label for="mode" style="line-height: 33px; text-align: right; clear: both; margin-right: 15px; font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">Modo:</label>
                <select class="inputwidth1" style="font-style: normal; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" name='mode'>
                    % if context.get('modo', UNDEFINED) == 'audit':
                        <option value="audit" selected>audit</option>
                        <option value="honor">honor</option>
                    % else:
                        <option value="audit">audit</option>
                        <option value="honor" selected>honor</option>
                    % endif
                </select>
            </div>
            <div style="display: table;margin-left: auto;margin-right: auto;">
                <input type="submit" style="height: 38px;text-shadow: none; border-color:white; background-color: #0075b4; background-image: none; display:inline-flex; margin: auto" value="Inscribir" onclick="show_message()">
            </div>
            <p id="enroll_message" style="color:rgb(56, 181, 197); margin-bottom: 15px;text-align: center;display: none;font-weight: bold;">La inscripción esta en proceso.</p>
        </form>
    </div>
    <script type="text/javascript">
        const show_message = function(){
            let msg = document.getElementById('enroll_message');
            msg.style.display = 'block';
        };
    </script>
</main>
</%block>